body {
	margin: 10px auto;
	display: flex;
}

article {
	width: 720px;
	background-color: white;
	padding: 0;
	margin: 20px auto;
	border: 1px grey solid;
}

header {
	padding: 20px;
	background-color: #1E7FCB;
	color: white;
	text-align: center;
}

#Nom_Prénom {
	text-align: left;
	color: black;
	margin: 20px;
	line-height: 5px;
}

#Age {
	text-align: left;
	color: black;
	margin: 20px;
	line-height: 5px;
}

#Adresse {
	text-align: left;
	color: black;
	margin: 20px;
	line-height: 5px;
}

#Contact {
	text-align: left;
	color: black;
	margin: 20px;
	line-height: 5px;
}

th {
	text-align: center;
	background-color: #EAEAEA;
	padding: 10px;
	margin: 0;
}

table {
	width: 100%;
	border-spacing: 0;
	margin: 20px 0;
	padding: 0;
	border: 1px solid #CCC;
}

ul {
	width: 100%;
	margin: 10px;
}

#Information{
	color: #1E7FCB;
 	font-size: 0.9em;
 	line-height: 5px;
 	font-style: italic;
}

#Parcours {
	margin: 20px;
}

#Formation {
	margin : 20px;
}

#Loisir {
	margin: 20px;
}

#Qualités {
	margin: 20px;
}

#Ligne {
	line-height: 5px;
}

#Ls {
	margin-left: 170px;
}